body
{
    min-height: 100vh;
    background: linear-gradient(to top, #e37e7e 1%, #e0b9b9 90%);
}

#wrapper
{
    display: block;
    text-align: center;
    background-color: #fff;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    max-width: 400px;
    padding: 20px;
    margin-left: 35%;

    animation-name: intro;
    animation-duration: 1000ms;
}

#error.animate
{
    color: red;
    font-style: italic;

    animation-name: error-blink;
    animation-duration: 800ms;
}

.completed
{
    color: #888;
    text-decoration: line-through;
    transition: color 1000ms;
}

.trashcan
{
    margin-left: 10px;
    opacity: 0.5;
    font-size: 0.75rem;
}

.trashcan:hover
{
    cursor: pointer;
    opacity: 1;
    transition: opacity 500ms;
}

h1
{
    opacity: 0;
    font-size: 45px;
    margin: 0 auto;

    animation-name: intro-opacity;
    animation-timing-function: ease-in-out;
    animation-delay: 1000ms;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

p:first-of-type
{
    opacity: 0;
    margin-top: 10px;
    margin-bottom: 30px;

    animation-name: intro-opacity;
    animation-timing-function: ease-in-out;
    animation-delay: 1200ms;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

input, button
{
    opacity: 0;
    font-size: 1.25rem;

    animation-name: intro-opacity;
    animation-timing-function: ease-in-out;
    animation-delay: 1400ms;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}

button
{
    width: 45px;
}

li
{
    font-size: 1.45rem;

    animation-name: list-fade;
    animation-duration: 300ms;
}

li span:first-child:hover
{
    text-decoration: line-through;
    cursor: pointer;
}

ul
{
    list-style: none;
}

@keyframes intro
{
    0%
    {
        transform: translateY(-400px);
    }

    50%
    {
        transform: translateY(50px);
    }

    100%
    {
        transform: translateY(0);
    }
}

@keyframes intro-opacity
{
    0%
    {
        opacity: 0;
    }

    25%
    {
        opacity: 0.25;
    }

    50%
    {
        opacity: 0.5;
    }

    75%
    {
        opacity: 0.75;
    }

    100%
    {
        opacity: 1;
    }
}

@keyframes list-fade
{
    0%
    {
        opacity: 0;
        transform: translateY(10px);
    }

    50%
    {
        opacity: 0.5;
        transform: translateY(5px);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes error-blink
{
    0%
    {
        opacity: 1;
    }

    25%
    {
        opacity: 0;
    }

    50%
    {
        opacity: 1;
    }

    75%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 1;
    }
}